body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 0, 0);
    border-top: solid 2px rgb(255, 0, 0);
    font-size: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 0);
}

.sections {
    background-color: rgb(0, 55, 100);
    border-bottom: solid 2px rgb(255, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 60%;
    text-align: center;
}

.links {
    margin: auto;
    padding: auto;
}

.bands {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}

.bands a {
    margin-top: auto;
    width: 50%;
}

.bands h1 {
    padding: auto;
    margin-top: auto;
}

.imgs {
    border: solid 2px rgb(0, 55, 100);

    height: 250px;
}

.imgs:hover {
    border: solid 2px rgb(255, 0, 0);
}

.album_content {
    display: flex;
    padding: 15px;
    background-color: rgb(0, 35, 63);
    overflow-x: auto;
    gap: 10px;
}

.album {
    background-color: rgb(0, 35, 63);
    border: solid 2px rgb(0, 86, 156);
    margin-top: 15px;
    padding-top: 15px;
}

.album h2 {
    margin-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    border-bottom: solid 2px rgb(0, 86, 156);
}

.album_imgs {
    opacity: 0.5;
    height: 200px;
}

.album_imgs:hover {
    opacity: 1;
    border: solid 2px red;
}
