body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(255, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 0, 0);
}

section {
    background: rgb(35, 95, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}

.texto-principal {
    padding-left: 25px;
}

.first-video {
    margin-left: 25px;
}
